# Ignore Python bytecode cache directories
**/__pycache__/

# Ignore generic cache directories
**/cache/

# Ignore Jupyter Notebook checkpoint folders
**/.ipynb_checkpoints/
**/.ipnb_checkpoints/

# Ignore OpenStreetMap data files
**/*.osm
**/*.pbf
**/*.osm.pbf

# Ignore generated map HTML files, those are only for visualization
**/map.html
